<nav>
	<div class="nav-wrapper">
		<a href="index.html" class="site-title">ArtCat</a>
	<!-- <img class="site-logo" src="assets/2017.jpg"> -->
		<ul>
			<li>
				<a href="exhibitions.html">Exhibitions</a>
			</li>
			<li>
				<a href="list.html">Lists</a>
			</li>
			<li>
				<a href="imagelist.html">Image Lists</a>
			</li>
			<li>
				<a href="imagegrid.html">Image Grid</a>
			</li>
			<li>
				<a href="two-column.html">Double Column</a>
			</li>
			<li>
				<a href="artist.html">Artist</a>
			</li>
		</ul>
	</div>
	<div class="mobile-icon">
		<div class="mobile-bars"></div>
		<div class="mobile-bars"></div>
		<div class="mobile-bars"></div>
	</div>
</nav>